.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: var(--c-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.nav > * {
  color: var(--c-light);
}
.brand {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.brand > * {
  font-weight: bold;
  font-size: 2rem;
}
.links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.links li {
  cursor: pointer;
}
